.classpath
.settings/
.project
.metadata
*.tmp
*.bak
*.swp
local.properties
.loadpath
.launch
.cproject
.buildpath
*.DS_Store
*.apk
*.ap_
*.dex
*.class
java/android/app/RedPins/bin/*
java/android/app/RedPins/gen/*